.references__container{
    width: 850px;
}

.reference__card{
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    min-height: 150px;
    margin-bottom: var(--mb-3);
    justify-content: flex-start;
}

.reference__name{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);
}

.reference__desig, .reference__insti, .reference__email{
    font-size: var(--smaller-font-size);
}

.swiper-pagination-bullet{
    background-color: #ffbb55 !important;
}

.swiper-pagination-bullet-active{
    background-color: #ffb31c !important;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .references__container{
        width: initial;
    }

    .reference__card{
        padding: 1.25rem 1.5rem;
    }
}
  