.footer {
  background-color: #121212;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__container {
  padding: 2rem 0 2rem;
}

.footer__title,
.footer__link {
  color: #dfdfdf;
}

.footer__title {
  text-align: center;
  margin-bottom: var(--mb-2);
}

.footer__link:hover {
  color: #9898ff;
}

.footer__list {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: var(--mb-2);
}

.footer__social {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}

.footer__social-link {
  color: var(--container-color);
  font-size: 1.125rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
  display: inline-flex;
}

.footer__social-link:hover {
  background-color: #9898ff;
}

.footer__copyright {
  display: block;
  margin-top: 4.5rem;
  color: #dfdfdf;
  text-align: center;
  font-size: var(--smaller-font-size);
}

.footer__dev {
  display: block;
  color: #dfdfdf;
  text-align: center;
  font-size: var(--smaller-font-size);
}
